



.animationtest {
	background: rgba(0,0,0, .05);
	width: 1000px;
	min-height: 600px;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
}
@keyframes example {
    0% {
    	left: 0;
    	right: 100%;
	    animation-timing-function: cubic-bezier( 0.55, 0.055, 0.675, 0.19 );
    }
    65% {
    	left: 15%;
    	right: 25%;
	    animation-timing-function: cubic-bezier( 0.215, 0.61, 0.355, 1 );
    }
    75% {
    	/*stay behind black*/
    	left: 25%;
    }
    100% {
    	left: 100%;
    	right: 0;
    }
}
@keyframes example2 {
    0% {
    	left: 0;
    	right: 100%;
	    animation-timing-function: cubic-bezier( 0.55, 0.045, 0.775, 0.39 );
    }
    75% {
    	left: 15%;
    	right: 45%;
	    animation-timing-function: cubic-bezier( 0.325, 0.71, 0.355, 1 );
    }
    100% {
    	left: 100%;
    	right: 0;
    }
}
.animatedelement {
	left: 0;
	right: 100%;

	height: 100%;
	min-width: 1px;
	position: absolute;
	background-color: red;
	animation-name: example;
	animation-duration: 1s;

}
.animatedelement2 {
	left: 0;
	right: 100%;

	height: 100%;
	min-width: 1px;
	position: absolute;
	background-color: black;
	animation-name: example2;
	animation-duration: 1s;
	animation-delay: .02s;
}
.animatedelement3 {
	left: 0;
	right: 100%;

	height: 100%;
	min-width: 1px;
	position: absolute;
	background-color: gray;
	animation-name: example2;
	animation-duration: 1s;
	animation-delay: .1s;
}






.contentHome, .contentContact {
	height: 100%;
	position: relative;
	margin: 0 auto;
	display: table;
}
.cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.contentHome .wrap {
	margin-bottom: 24%;
	font-family: sans-serif;
	display: none;
}
.contentContact .wrap {
	margin-bottom: 12%;
	font-family: sans-serif;
}
.contentHome .wrap.show {
	display: block;
}
.contentHome a {
	cursor: pointer;
}
.contentContact .wrap.show {
	display: block;
}
.headline {
	font-size: 200px;
	color: white;
	font-weight: 900;
	transition: .1s;
	text-shadow: 0 0 20px rgba(83,100,102, 1);
}
.button {
	border-radius: 10px;
	border: 1px solid white;
	display: inline-block;
	color: white;
	margin-top: 30px;
	font-weight: bold;
	letter-spacing: 0.05em;
	font-size:21px;
	padding: 24px;
	padding-top: 26px;
	font-weight: 900;
	text-transform:uppercase;
	background: rgba(83,100,102, .25);
	box-shadow: 0 0 30px rgba(0,0,0, .15);
	cursor: pointer;
}
.overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
    background-size: cover;
	display: table;
	width: 100%;
	height: 100%;
	opacity: .4;
}
.overlay .cell {
	background-image: 
		url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 50 50'><circle cx='25' cy='25' r='20' fill='none' stroke='#fff' stroke-width='.5' vector-effect='non-scaling-stroke'/></svg>");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.overlay2 {
	position: fixed;
	right: 0;
	bottom: 0;
    background-size: cover;
	display: table;
	width: 108%;
	height: 108%;
	left: -4%;
	top: -4%;
	opacity: .24;
}
.overlay2 .cell {
	background-image: 
		url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 50 50'><circle cx='25' cy='25' r='20' fill='none' stroke='#fff' stroke-width='.5' vector-effect='non-scaling-stroke'/></svg>");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
svg {
	width: 100%;
	height: 100%;
}
a
,a:visited
,a:active
{
	color: white;
	text-decoration: none;
}
.name {
	color: white;
}
body {
	margin: 0;
    font-family: sans-serif;
    letter-spacing: 0.05em;
    font-size: 16px;
    padding-top: 60px;

}
.menu {
	position: fixed;
	top: 0;
	left: 0;
	/*width: 400px;*/
	max-width: 95%;
	color: white;
	background: black;
	font-size: 20px;
	height: 60px;
	display: table;
	font-weight: 100;
	font-size: 20px;
}
.menu .wrap {
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 40px;
}
.menuItem {
}
.menuItem.active {
	text-decoration: underline;
}
.menu .wrap div {
	display: inline-block;
	margin-right: 20px;
}
.menuItem a {
	color: rgba(255,255,255, .7);
}
@media screen and (max-width: 1100px) {
	.button {
		font-size: 17px;
	}
}
@media screen and (max-width: 930px) {
	.headline {
		font-size: 170px;
	}
}
@media screen and (max-width: 816px) {
	.headline {
		font-size: 130px;
	}
	.button {
		margin-top: 10px;
	}
}
@media screen and (max-width: 600px) {
	.headline {
		font-size: 75px;
		text-shadow: 0 0 10px rgba(83,100,102, 1);
	}
	.overlay, .overlay2 {
		display: none;
	}
	.menu {
		width: 100%;
		max-width: 100%;
	}
	.button {
		margin-top: 20px;
	}
}
.widthbar {
	height: 4px;
	background: white;
	opacity: .6;
	display: none;
	margin-bottom: 10vh;
}
.widthbar.show {
	display: inline-block;
}
.overlay, .overlay2 {
	display: none;
}













.workbody {
	background: rgba(0,0,0, .2);
}
.workbody .content {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 40px;
	position: relative;
	padding: 40px;
	
	/*max-width: 700px;*/
	max-width: 860px;

	padding-bottom: 200px;
	padding-top: 80px;
}
.item {
    padding: 8px;
	width: 404px;
	text-align: left;
    display: inline-block;
}
.item.small {
	width: 260px;
}
.item.small.dummy {
	visibility: hidden;
	vertical-align: top;
}
.insideitem {
	vertical-align: top;
	
	/*box-shadow: 0 0 3px 2px rgba(0,0,0, .1);*/
	/*box-shadow: 0 0 3px 1px rgba(0,0,0, .3);*/
	box-shadow: 0 0 2px 1px rgba(0,0,0, .15);
	
	padding: 6px;
	background: white;
}

/*not used ?*/
/*
.insideitem.hide {
	opacity: 0;
}
*/


.item img {
	width: 100%;
}
.blurb {
	width: 100%;
	display: inline-block;
    font-size: 14px;
    color: rgba(0,0,0, .7);
    
    /*background: rgba(0,0,0, 0.111);*/
    /*background: rgba(220,220,220, .97);*/
    background: none;

}
.blurb .container {
	/*margin: 13px;*/
	margin: 4px;
	margin-bottom: 6px;
	margin-top: 11px;
}





.contactBody {
}
.contactBody .headline {
	color: black;
	font-size: 64px;
	text-shadow: none;
	font-weight: 700;
}
.contentContact {
	padding-left: 40px;
	padding-right: 40px;
}
.contentContact .wrap{
	text-align: left;
    margin-top: 120px;
}
.contentContact .cell {
	vertical-align: top
}
.contactBody .copy {
	margin-top: 30px;
}
.contactBody .copy a {
	color: rgba(0,0,0, .6);
}


@media screen and (max-width: 600px) {
	.contactBody .headline {
		font-size: 44px;
	}
	.workbody .content {

		/*padding-bottom: 20px;*/

		/* make background visible */
	    /*padding-bottom: 100vh;*/
	    padding-bottom: 40px;
	    padding-top: 40px;

	}
}

















